.TextInput__Wrapper {
  display: flex;
  flex-direction: column;
}

.TextInput__Label {
  font-size: 12px;
  color: gray;
}

.TextInput__Input {
  height: 30px;
  font-size: 18px;
  color: dimgray;
}
