#header {
  background-color: navy;
  height: 75px;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Header__Logo {
  display: inline;
  margin: 0 0 0 20px;
  font-size: 1.5em;
  line-height: 75px;
  width: 10%;
}

.Header__CredentialControls {
  display: inline-block;
  font-size: 1.5em;
  line-height: 75px;
}

.Header__AuthLink {
  padding-right: 20px;
  cursor: pointer;
}
