.SignUp__Wrapper {
  width: 500px;
  height: 300px;
  margin: 0 auto;
}

.SignUp__Form {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.SignUp__SubmitBtnWrapper {
  display: flex;
  justify-content: flex-end;
}

.SignUp__SubmitBtn {
  width: 20%;
}
