.BookmarkList__Wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.BookmarkList__List {
  display: flex;
  flex-wrap: wrap;
}

.BookmarkList__Item {
  list-style-type: none;
}

.BookmarkList__AddBookmark {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.BookmarkList__Pagination {
  cursor: pointer;
  width: 50px;
  height: 30px;
  margin: 5px;
}

.BookmarkList__Pagination:disabled {
  cursor: not-allowed;
}
