.BookmarkList__Wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.BookmarkList__List {
  display: flex;
  flex-wrap: wrap;
}

.BookmarkList__Item {
  list-style-type: none;
}

.BookmarkList__AddBookmark {
  position: fixed;
  bottom: 15px;
  right: 15px;
}
